{% extends 'plantilla1.html' %}

{% block content%}


<h2>Resumen de cierres todas</h2>


<form method="POST">
  {% csrf_token %}
  {{form.as_p}}

  <button> Filtrar</button>
</form>


<table class="table table-sm  small-text">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Caja</th>
        <th scope="col">Fecha</th>
        <th scope="col">Ingresos</th>
        <th scope="col">Egresos</th>
        <th scope="col">Mov salida</th>
        <th scope="col">Mov entrada</th>
        <th scope="col">Cierre anterior</th>
        <th scope="col">Cierre actual</th>
  
      </tr>
    </thead>
    <tbody>
      {% for cierres in cierrest %}
      
      {%if  cierres.fecha.day|divisibleby:2 == True %}
      <tr>
        <th scope="row" class="table-info">{{forloop.counter}}</th>
        <td class="table-info">{{cierres.empresa}}</td>
        <td class="table-info"><a href="{% url 'detallesCierres' cierres.caja.id cierres.empresa.id cierres.fecha%}">{{cierres.caja}}</a> </td>
        <td class="table-info">{{cierres.fecha}}</td>
        <td class="table-info">{{cierres.valorIngresos}}</td>
        <td class="table-info">{{cierres.valorEgresos}}</td>
        <td class="table-info">{{cierres.valorMovSalida}}</td>
        <td class="table-info">{{cierres.valorMovEntrada}}</td>
        <td class="table-info">{{cierres.valorCierreAnterior}}</td>
        <td class="table-info">{{cierres.valorCierreActual}}</td>
      </tr>
      {%else%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td >{{cierres.empresa}}</td>
        <td> <a href="{% url 'detallesCierres' cierres.caja.id cierres.empresa.id cierres.fecha%}">{{cierres.caja}}</a> </td>
        <td>{{cierres.fecha}}</td>
        <td>{{cierres.valorIngresos}}</td>
        <td>{{cierres.valorEgresos}}</td>
        <td>{{cierres.valorMovSalida}}</td>
        <td>{{cierres.valorMovEntrada}}</td>
        <td>{{cierres.valorCierreAnterior}}</td>
        <td>{{cierres.valorCierreActual}}</td>
      </tr>
      {%endif%}

      {%endfor%}
  




    </tbody>
  </table>


Gastos: {{gastoT}}    Ingresos : {{ingreT}}


{%endblock%}