{% extends 'plantilla1.html' %}

{%load static%}

{% block content%}
Resumen pago IEss


    <table class="table small-text">
        
        <thead>
            <tr>
            <th scope="col" >#</th>
            <th scope="col" >Colaborador</th>
            <th scope="col" >Fecha</th>
            <th scope="col" >Valor</th>
            <th scope="col" >Mes</th>
            <th scope="col" >Año</th>
            <th scope="col" >Caja</th>
            <th scope="col" >Empresa</th>
            
            </tr>
        </thead>
        <tbody>
            {% for f in IessConsulta %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{f.colaborador}}</td>
              <td>{{f.fecha}}</td>
              <td>{{f.valor}}</td>
              <td>{{f.mesPago}}</td>
              <td>{{f.anio_pago}}</td>
              <td>{{f.caja}}</td>
              <td>{{f.id_empresa}}</td>

            </tr>
            {%endfor%}
        
          </tbody>


    </table>

 {%endblock%}