{% extends 'plantilla1.html' %}
{%load static%}

{% block content%}

resumen pago servicios

<table class="table small-text">
       
    <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Proveedor</th>
          <th scope="col" >Servicio</th>
          <th scope="col" >Empresa</th>
          <th scope="col" >Valor</th>
          <th scope="col" >Fecha</th>
          <th scope="col" >mes_de_Pago</th>
          <th scope="col" >anio_de_pago</th>
          <th scope="col" >Empresa</th>
          <th scope="col" >Caja</th>
          <th scope="col" >descripcion</th>
        </tr>
      </thead>
      <tbody>
        {% for f in PagoServiciosConsulta%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{f.idproveedor}}</td>
          <td>{{f.numeroFactura}}</td>
          <td>{{f.fechafactura}}</td>
          <td>{{f.valor}}</td>
          <td>{{f.id_modoCompra}}</td>
          <td>{{f.id_estadoPago}}</td>
          <td>{{f.fechapago}}</td>
          <td>{{f.id_empresa}}</td>
          <td>{{f.id_caja}}</td>
          <td>{{f.observacion}}</td>

          
        </tr>
        {% endfor%}

      </tbody>
</table>

{%endblock%}