{% extends 'plantilla1.html' %}
{%load static%}
{% block content%}

Resumen pago credito


<table class="table small-text">
       
    <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Institucion</th>
          <th scope="col" >Fecha</th>
          <th scope="col" >Mes</th>
          <th scope="col" >Año</th>
          <th scope="col" >Valor</th>
          <th scope="col" >Empresa</th>
          <th scope="col" >Caja</th>
          <th scope="col" >descripcion</th>
        </tr>
      </thead>
      <tbody>
        {% for f in pagoCreditosConsulta%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{f.nombre_coop}}</td>
          <td>{{f.fecha}}</td>
          <td>{{f.mes_de_Pago}}</td>
          <td>{{f.anio_de_pago}}</td>
          <td>{{f.valor}}</td>
          <td>{{f.id_empresa}}</td>
          <td>{{f.caja}}</td>
          <td>{{f.descripcion}}</td>

          
        </tr>
        {% endfor%}

      </tbody>
</table>


{%endblock%}