{% extends 'plantilla1.html' %}
{% load static%}
{% block content%}
resumen pago colaboradores

<table class="table small-text">
       
    <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Fecha Registro</th>
          <th scope="col" >Colaborador</th>
          <th scope="col" >Dias normales</th>
          <th scope="col" >Dias extras</th>
          <th scope="col" >Feriados</th>
          <th scope="col" >Valor</th>
          <th scope="col" >Estado pago</th>
          <th scope="col" >Fecha pago</th>
          <th scope="col" >Empresa</th>
          <th scope="col" >Digitador</th>
          <th scope="col" >Observacion</th>
        </tr>
      </thead>
      <tbody>
        {% for f in colaboradoresConsulta%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{f.fecha_ingreso}}</td>
          <td>{{f.nombre}}</td>
          <td>{{f.dias_normales}}</td>
          <td>{{f.dias_extras}}</td>
          <td>{{f.dias_feriados}}</td>
          <td>{{f.valor}}</td>
          <td>{{f.estadoPagado}}</td>
          <td>{{f.fecha_pago}}</td>
          <td>{{f.id_empresa}}</td>
          <td>{{f.id_usuario}}</td>
          <td>{{f.descripcion}}</td>



          
        </tr>
        {% endfor%}

      </tbody>
</table>



{%endblock%}