{% extends 'plantilla1.html' %}

{% block content%}

<h2>
    AFNET en CIFRAS
</h2>



<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio">

    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin">
    <button>Consultar</button>
</form>
<h4>Periodo: {{fecha_inicio}} - {{fecha_fin}}</h4>
<div> <h5>Ingresos(cierres-filtrado) = {{ingresostotalperiodo}} - {{ingresosfiltradoperiodo}}</h5> </div>
<div> <h5>Total Egresos (cierres - filtrado/calculado) = {{egresostotalperiodo}} -- {{gastos_total_eg}}</h5> </div>

<div>Semana colaboradores  = {{pagoColaboradoresTotal}}</div>

<div>Comisiones = {{pagoCifrasComi}}</div>
<div>Decimos = {{pagoCifrasDeci}}</div>

<div>Facturas = {{pagoCifrasFacturas}}</div>
<div>Servicios = {{pagoCifrasServicios}}</div>
<div>Creditos = {{pagoCifrasCreditos}}</div>
<div>Planillas = {{pagoCifrasIess}}</div>
<div>Socios Credito = {{pagosocios_credi2}}</div>





{%endblock%}

