


  {% extends 'plantilla1.html' %}

  {% block content%}
  <div class="alert alert-secondary" role="alert">
    
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">
       
      </div>
      <div class="col">
        <h2> Inventario AFCorp</h2>
      </div>
      <div class="col">
       
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">

        <div class="alert alert-success" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ingresosInvRetiros'%}">Ingresos: Retiros</a>
        </div>

        <div class="alert alert-success" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ingresosInvFacturas'%}"> Ingresos: Facturas</a>
        </div>


        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ResgistroSalidaInstalacion'%}"> Registro salida: Instalaciones</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'RegistroSalidaVentasContado'%}"> Registro salida: Ventas al contado</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href=""> Registro salida: Ventas a credito</a>
        </div>

        <div class="alert alert-primary" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'registroMovimientosInv'%}"> Registro movimientos</a>
        </div>







      </div>
      <div class="col">

        <div class="alert alert-success" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ResumenIngInvRetiros'%}"> Resumen ingresos: Retiros</a>
        </div>

        <div class="alert alert-success" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'PreResumenInvFacturas'%}"> Resumen ingresos: Facturas</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href=""> Resumen salida: Instalaciones</a>
        </div>

        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ResumenSalidaVentasContado'%}"> Resumen salida: Ventas al contado</a>
        </div>
        <div class="alert alert-warning" role="alert">
          <a class="nav-link active" aria-current="page" href=""> Resumen salida: Ventas a credito</a>
        </div>
        <div class="alert alert-primary" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'resumenMovimientosInv'%}"> Resumen movimientos</a>
        </div>

        <div class="alert alert-danger" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'RegistroClientes'%}"> Registrar cliente</a>
        </div>


      </div>
      <div class="col">
 

        <div class="alert alert-danger" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'preCierreInventario'%}"> Registrar cierre</a>
        </div>

        <div class="alert alert-danger" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ResumenCierreInventarioBodega'%}"> Resumen cierres</a>
        </div>



      </div>
    </div>
  </div>





  {%endblock%}