{% extends 'plantilla1.html' %}

{% block content%}

Resumen registro facturas


<table class="table small-text">
       
    <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >Factura</th>
          <th scope="col" >Cod</th>
          <th scope="col" >Cantidad</th>
          <th scope="col" >Precio In</th>
          <th scope="col" >Fecha ingreso</th>
          <th scope="col" >Usuario</th>
          <th scope="col" >Bodega</th>
          <th scope="col" >Observacion</th>
        </tr>
      </thead>
      <tbody>
        {% for f in ingresoInv%}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{f.idFactura}}</td>
          <td>{{f.idcodigo}}</td>
          <td>{{f.cantidad}}</td>
          <td>{{f.precio_in}}</td>
          <td>{{f.fecha_ingreso}}</td>
          <td>{{f.id_usuario}}</td>
          <td>{{f.idBodega}}</td>
          <td>{{f.observacion}}</td>

          
        </tr>
        {% endfor%}

      </tbody>
</table>


<div class="container text-center">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <div>Total: Ingreso productos: {{total_calculado}}</div>
      <div>Total: Factura ingresada: {{total_factura}}</div>

      {%if permiso%}
      {%else%}

        <div class="alert alert-success" role="alert">
          <a class="nav-link active" aria-current="page" href="{%url 'ingresosInvFacturas'%}"> Seguir ingresando</a>
        </div>

        <form method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <button> Cerrar Factura</button>
      </form>
    
      {%endif%}
    



    </div>





    <div class="col">
    
    </div>
  </div>
</div>













{%endblock%}